/* Navbar */
.navbar{
	backdrop-filter: blur( 16px );
	-webkit-backdrop-filter: blur( 15px );
	border-radius: 8px 8px;
	border:  1px solid rgb(57, 56, 56);
}

/* ---Mouse-Scroll--- */
.mouse {
	width: 40px;
	height: 60px;
	border: 2px solid #d1d5db;
	border-radius: 60px;
	position: relative;
}
.mouse::before {
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #d1d5db;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}
/* -------------------------------------------------- */


.stroke-heading{
	background-color: #868686;
	color: #000000;
	background-clip: text;
	-webkit-text-stroke: 1px;
	-webkit-text-stroke-color: transparent;
	-webkit-text-stroke-width: calc(1em/ 24) ;
}


